    // .img-thumb {
    //     height: 60px;
    //     width: 60px;
    //     border-radius: 50%;
    //     background-size: cover;
    //     background-image: url('.././../../../assets/img/venuesv2/no-user.png');
    //     border: 5px solid #fff;
    // }
    // .img-prof {
    //     height: 120px;
    //     width: 120px;
    //     border-radius: 12px;
    //     background-size: cover;
    //     background-image: url('.././../../../assets/img/venuesv2/no-user.png');
    // }