/*! _helpers.scss | Venues.One | Wizgle 2021-2022 */


/*
    1. Spacing helpers
    2. Color helpers
    3. Rounded helpers
    4. Responsive Display
    5. Responsive Flex
    6. Scroll helpers
*/


/* ==========================================================================
1. Spacing helpers
========================================================================== */

$spaceamounts: 5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
60,
70,
80,
90,
100;
$sides: top,
bottom,
left,
right;
@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

.no-padding-all {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-margin-all {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.has-fullheight {
    height: 100%;
}

.has-fullwidth {
    width: 100%;
}


/* ==========================================================================
2. Color helpers
========================================================================== */

$colorz: ( primary: $primary, secondary: $secondary, accent: $accent, info: $info, success: $success, warning: $warning, danger: $danger, inverted: $white, l1: $light-text, l2: $medium-text, l3: $dark-text, h-purple: $h-purple, h-blue: $h-blue, h-green: $h-green, h-orange: $h-orange, h-red: $h-red, h-yellow: $h-yellow, javascript: $javascript, angular: $angular, reactjs: $reactjs, android: $android, swift: $swift, vuejs: $vuejs, wordpress: $wordpress, csharp: $csharp, nodejs: $nodejs, html: $html, facebook: $facebook, twitter: $twitter, linkedin: $linkedin, tumblr: $tumblr, github: $github, dribbble: $dribbble, google-plus: $google-plus, youtube: $youtube, reddit: $reddit, invision: $invision, amazon: $amazon, instagram: $instagram, );
@mixin color-modifiers($attribute, $prefix) {
    @each $name,
    $hex in $colorz {
        &#{$prefix}#{$name} {
            #{$attribute}: $hex;
        }
    }
}

.text {
    @include color-modifiers($attribute: "color", $prefix: "-");
}

.bg {
    @include color-modifiers($attribute: "background", $prefix: "-");
}


/* ==========================================================================
3. Rounded helpers
========================================================================== */

.is-rounded-md {
    border-radius: 0.875rem;
}

.is-rounded-lg {
    border-radius: 01rem;
}


/* ==========================================================================
4. Responsive Display
========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .is-flex-tablet-p {
        display: flex;
    }
    .is-hidden-tablet-p {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-hidden-mobile {
        display: none !important;
    }
    .b-only-mobile {
        display: block !important;
    }
    .b-only-mobile-flex {
        display: flex !important;
    }
    .b-centered-mobile {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .b-hidden-tablet-p {
        display: none !important;
    }
    .b-flex-tablet-p {
        display: flex !important;
    }
    .b-only-tablet-p {
        display: block !important;
    }
    .b-only-tablet-p-flex {
        display: flex !important;
    }
    .b-centered-tablet-p {
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;
        text-align: center;
    }
    .b-centered-tablet-p {
        text-align: center;
    }
    .max-w-tablet-p {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .max-w-tp-6 {
        max-width: 40rem;
    }
    .max-w-tp-5 {
        max-width: 33.75rem;
    }
    .max-w-tp-4 {
        max-width: 27.5rem;
    }
    .max-w-tp-full {
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .b-hidden-tablet-l {
        display: none !important;
    }
    .b-flex-tablet-l {
        display: flex !important;
    }
    .b-only-tablet-l {
        display: block !important;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .b-only-mobile {
        display: none !important;
    }
    .b-only-tablet-p {
        display: none !important;
    }
}

@media only screen and (min-width: 1025px) {
    .b-hidden-desktop {
        display: none !important;
    }
}


/* ==========================================================================
5. Responsive Flex
========================================================================== */

@media only screen and (max-width: 767px) {
    .b-only-mobile-flex-wrap {
        flex-wrap: wrap !important;
    }
    .b-columns-half-mobile {
        display: flex;
        flex-wrap: wrap;
        .column {
            width: 50% !important;
            min-width: 50% !important;
            max-width: 50% !important;
        }
    }
    .d-column-mobile {
        flex-direction: column;
    }
    .d-column-r-mobile {
        flex-direction: column-reverse;
    }
    .j-center-mobile {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .b-columns-flex-tablet-p {
        display: flex;
    }
    .b-columns-half-tablet-p {
        display: flex;
        flex-wrap: wrap;
        .column {
            width: 50% !important;
            min-width: 50% !important;
            max-width: 50% !important;
        }
    }
    .b-columns-third-tablet-p {
        display: flex;
        flex-wrap: wrap;
        .column {
            width: 33.3% !important;
            min-width: 33.3% !important;
            max-width: 33.3% !important;
        }
    }
    .d-column-tablet-p {
        flex-direction: column;
    }
    .d-column-r-tablet-p {
        flex-direction: column-reverse;
    }
    .j-center-tablet-p {
        justify-content: center;
    }
}


/* ==========================================================================
6. Scroll helpers
========================================================================== */

.has-slimscroll {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 6px !important;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        background: rgba(0, 0, 0, 0.2) !important;
    }
}

.has-slimscroll-sm {
    &::-webkit-scrollbar {
        width: 3px !important;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        background: rgba(0, 0, 0, 0.2) !important;
    }
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}