<footer class="main-footer">
    <div class="container">

        <div class="columns footer-body">
            <!-- Column -->
            <div class="column is-4">
                <div class="p-t-10 p-b-10">
                    <img class="small-footer-logo" src="img/logo/logo.svg" alt="" />
                    <div class="footer-description p-t-10 p-b-10">
                        Venues.One is built for developers and designers. Its modular approach lets you create awesome webapps with incredible layouts and elements.
                    </div>
                </div>
                <div>
                    <span class="moto">Designed and coded with <ion-icon name="heart"></ion-icon> by Wizgle.</span>
                </div>
            </div>
            <!-- Column -->
            <div class="column is-7 is-offset-1">
                <div class="columns is-flex-tablet-p">
                    <div class="column"></div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">Services</li>
                            <li class="column-item"><a href="/listing.html">List Of All Venues</a></li>
                            <li class="column-item"><a href="#">Venues with Rooms</a></li>
                            <li class="column-item"><a href="#">Premium Properties</a></li>
                            <li class="column-item"><a href="#">Corporate</a></li>
                        </ul>
                    </div>

                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">Help</li>
                            <li class="column-item">
                                <a href="#"></a>
                            </li>
                            <li class="column-item"><a href="#">Host an Venue</a></li>
                            <li class="column-item"><a href="#">Support</a></li>
                            <li class="column-item"><a href="#">Help Center</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">Legal</li>

                            <li class="column-item"><a href="#">Terms of Service</a></li>
                            <li class="column-item"><a href="#">Privacy policy</a></li>
                            <li class="column-item"><a href="contact.html">Contact</a></li>
                            <li class="column-item">
                                <a class="modal-trigger" data-modal="languages-modal">Language: EN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>
                &copy; 2022-2023 | <a href="https://wizgle.com">Wizgle</a> | All Rights Reserved.
            </p>
            <div>
                <div class="social-links">
                    <a href="#"><i data-feather="facebook"></i></a>
                    <a href="#"><i data-feather="twitter"></i></a>
                    <a href="#"><i data-feather="linkedin"></i></a>
                    <a href="#"><i data-feather="instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>