<div id="comments-modal" class="modal">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>Comments (179)</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="comments-modal-content">
          <div class="comments is-bigger has-slimscroll">
            <div class="columns is-multiline b-columns-half-tablet-p">
              <!--Comment-->
             
        

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
