<div id="comments-modal" class="modal">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>Comments (518)</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="comments-modal-content">
          <!--Reviews-->
          <div class="reviews">
            <!--Review-->
            <div class="review-item">
              <div class="review-item-inner">
                <div class="review-category">
                  <span>Originality</span>
                </div>
                <div class="review-rating">
                  <progress class="progress is-micro" value="86" max="100">
                    86%
                  </progress>
                  <span class="rating-value">4.3</span>
                </div>
              </div>
            </div>
            <!--Review-->
            <div class="review-item">
              <div class="review-item-inner">
                <div class="review-category">
                  <span>Accuracy</span>
                </div>
                <div class="review-rating">
                  <progress class="progress is-micro" value="84" max="100">
                    84%
                  </progress>
                  <span class="rating-value">4.2</span>
                </div>
              </div>
            </div>
            <!--Review-->
            <div class="review-item">
              <div class="review-item-inner">
                <div class="review-category">
                  <span>Communication</span>
                </div>
                <div class="review-rating">
                  <progress class="progress is-micro" value="90" max="100">
                    90%
                  </progress>
                  <span class="rating-value">4.5</span>
                </div>
              </div>
            </div>
            <!--Review-->
            <div class="review-item">
              <div class="review-item-inner">
                <div class="review-category">
                  <span>Organization</span>
                </div>
                <div class="review-rating">
                  <progress class="progress is-micro" value="94" max="100">
                    94%
                  </progress>
                  <span class="rating-value">4.7</span>
                </div>
              </div>
            </div>
            <!--Review-->
            <div class="review-item">
              <div class="review-item-inner">
                <div class="review-category">
                  <span>Security</span>
                </div>
                <div class="review-rating">
                  <progress class="progress is-micro" value="90" max="100">
                    90%
                  </progress>
                  <span class="rating-value">4.5</span>
                </div>
              </div>
            </div>
            <!--Review-->
            <div class="review-item">
              <div class="review-item-inner">
                <div class="review-category">
                  <span>Value</span>
                </div>
                <div class="review-rating">
                  <progress class="progress is-micro" value="86" max="100">
                    20%
                  </progress>
                  <span class="rating-value">4.3</span>
                </div>
              </div>
            </div>
          </div>

          <div class="comments has-slimscroll">
            <div class="columns is-multiline b-columns-half-tablet-p">
              <!--Comment-->
              <div class="column is-6">
                <div class="comment">
                  <div class="comment-head">
                    <a>
                      <img
                        src="https://dummyimage.com/150x150"
                        data-demo-src="img/photo/avatar/3.jpeg"
                        alt=""
                      />
                    </a>
                    <div class="meta">
                      <h4 class="title is-6 is-narrow">Noriko</h4>
                      <span>January 2021</span>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maximus dolor, inquit, brevis est. Comprehensum, quod
                    cognitum non habet? Si longus.
                  </p>
                </div>
              </div>
              <!--Comment-->
              <div class="column is-6">
                <div class="comment">
                  <div class="comment-head">
                    <a>
                      <img
                        src="https://dummyimage.com/150x150"
                        data-demo-src="img/photo/avatar/27.jpg"
                        alt=""
                      />
                    </a>
                    <div class="meta">
                      <h4 class="title is-6 is-narrow">Michael</h4>
                      <span>January 2021</span>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maximus dolor, inquit, brevis est. Comprehensum, quod
                    cognitum non habet? Si longus, levis dictata sunt.
                  </p>
                </div>
              </div>
              <!--Comment-->
              <div class="column is-6">
                <div class="comment">
                  <div class="comment-head">
                    <a>
                      <img
                        src="https://dummyimage.com/150x150"
                        data-demo-src="img/photo/avatar/29.jpg"
                        alt=""
                      />
                    </a>
                    <div class="meta">
                      <h4 class="title is-6 is-narrow">Christina</h4>
                      <span>January 2021</span>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maximus dolor, inquit, brevis est.
                  </p>
                </div>
              </div>
              <!--Comment-->
              <div class="column is-6">
                <div class="comment">
                  <div class="comment-head">
                    <a>
                      <img
                        src="https://dummyimage.com/150x150"
                        data-demo-src="img/photo/avatar/19.jpg"
                        alt=""
                      />
                    </a>
                    <div class="meta">
                      <h4 class="title is-6 is-narrow">Eliott</h4>
                      <span>December 2020</span>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maximus dolor, inquit, brevis est. Comprehensum, quod
                    cognitum non habet? Si longus, levis dictata sunt. Non risu
                    potius quam oratione eiciendum? Istic sum, inquit.
                  </p>
                </div>
              </div>
              <!--Comment-->
              <div class="column is-6">
                <div class="comment">
                  <div class="comment-head">
                    <a>
                      <img
                        src="https://dummyimage.com/150x150"
                        data-demo-src="img/photo/avatar/11.jpg"
                        alt=""
                      />
                    </a>
                    <div class="meta">
                      <h4 class="title is-6 is-narrow">Christina</h4>
                      <span>December 2020</span>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maximus dolor, inquit, brevis est. Comprehensum, quod
                    cognitum non habet? Si longus, levis dictata sunt.
                  </p>
                </div>
              </div>
              <!--Comment-->
              <div class="column is-6">
                <div class="comment">
                  <div class="comment-head">
                    <a>
                      <img
                        src="https://dummyimage.com/150x150"
                        data-demo-src="img/photo/avatar/12.jpg"
                        alt=""
                      />
                    </a>
                    <div class="meta">
                      <h4 class="title is-6 is-narrow">Amanda</h4>
                      <span>December 2020</span>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maximus dolor, inquit, brevis est. Comprehensum, quod
                    cognitum non habet? Si longus, levis dictata sunt.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
