<div id="listing-kids-modal" class="modal">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>Made for kids</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="columns is-vcentered b-columns-flex-tablet-p">
          <div class="column is-6">
            <div class="modal-text-block">
              <h4 class="title is-6 is-narrow">Younger audience</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Uterque
                enim summo bono fruitur, id est voluptate.
              </p>
            </div>
            <div class="modal-icon-list pt-4">
              <div class="icon-list-item">
                <i data-feather="check" class="text-primary"></i>
                <p class="text">
                  Course content adapted to kids
                </p>
              </div>
              <div class="icon-list-item">
                <i data-feather="check" class="text-primary"></i>
                <p class="text">Slow step by step learning</p>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="modal-side-info">
              <img src="img/illustrations/stories/6.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
