<div id="listing-map-modal" class="modal">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>Location details</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="modal-map-container">
          <div class="modal-map-wrapper">
            <div id="sub-map" class="modal-map"></div>
          </div>

          <div class="modal-map-content">
            <div class="columns b-columns-flex-tablet-p">
              <div class="column is-6">
                <h3 class="title is-6 has-space">Location details</h3>
                <p class="instructions">
                  All location details will be given to you after you're done 
                  with the booking process.
                </p>
                <a class="underlink mt-3">Need help?</a>
              </div>
              <div class="column is-6">
                <div class="modal-icon-list">
                  <div class="icon-list-item">
                    <i class="las la-lock"></i>
                    <p class="text">Location after booking</p>
                  </div>
                  <div class="icon-list-item">
                    <i class="las la-lock"></i>
                    <p class="text">Phone after booking</p>
                  </div>
                  <div class="icon-list-item">
                    <i class="las la-comment"></i>
                    <p class="text">Host messaging</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
