<div id="listing-rules-modal-flat" class="modal modal-md">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>House Rules</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="modal-icon-list pb-5">
          <div class="columns b-columns-flex-tablet-p">
            <div class="column is-6">
              <div class="icon-list-item">
                <i class="las la-clock"></i>
                <p class="text">in: 2:00 PM - 10:00 PM</p>
              </div>
              <div class="icon-list-item">
                <i class="las la-clock"></i>
                <p class="text">out: 12:00 PM</p>
              </div>
              <div class="icon-list-item">
                <i class="las la-paw"></i>
                <p class="text">No pets</p>
              </div>
            </div>
            <div class="column is-6">
              <div class="icon-list-item">
                <i class="las la-glass-cheers"></i>
                <p class="text">No parties</p>
              </div>
              <div class="icon-list-item">
                <i class="las la-smoking"></i>
                <p class="text">Smoking allowed</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-text-block">
          <h4 class="title is-6 is-narrow">Additional rules</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Uterque
            enim summo bono fruitur, id est voluptate. Quodsi vultum tibi, si
            incessum fingeres.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
