<div id="listing-share-modal" class="modal modal-sm">
  <div class="modal-background modal-dismiss"></div>
  <div class="modal-content">
    <!--Modal card-->
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          <span>Share this event</span>
        </div>
        <button class="modal-dismiss">
          <span class="icon">
            <i data-feather="x"></i>
          </span>
        </button>
      </header>
      <div class="card-content">
        <div class="modal-icon-list">
          <a class="icon-list-item is-share-action">
            <i class="lab la-facebook-f"></i>
            <p class="text">Share on Facebook</p>
          </a>
          <a class="icon-list-item is-share-action">
            <i class="lab la-twitter"></i>
            <p class="text">Share on Twitter</p>
          </a>
          <a class="icon-list-item is-share-action">
            <i class="lab la-linkedin-in"></i>
            <p class="text">Share on Linkedin</p>
          </a>
          <a class="icon-list-item is-share-action">
            <i class="las la-copy"></i>
            <p class="text">Copy URL</p>
          </a>
          <a class="icon-list-item is-share-action">
            <i class="lab la-whatsapp"></i>
            <p class="text">Share on Whatsapp</p>
          </a>
          <a class="icon-list-item is-share-action">
            <i class="lab la-facebook-messenger"></i>
            <p class="text">Share on Messenger</p>
          </a>
          <a class="icon-list-item is-share-action">
            <i class="las la-envelope-open"></i>
            <p class="text">Share by Email</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
