<div id="listing-wishlist-modal" class="modal modal-md">
    <div class="modal-background modal-dismiss"></div>
    <div class="modal-content">
      <!--Modal card-->
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            <span>Add to Wishlist</span>
          </div>
          <button class="modal-dismiss">
            <span class="icon">
              <i data-feather="x"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="modal-wishlist">
            <div class="modal-wishlist-item">
                <button class="button">
                    <i data-feather="plus"></i>
                </button>
                <div class="meta">
                    <span>Create</span>
                    <span>Create a new wishlist</span>
                </div>
            </div>
            <a class="modal-wishlist-item">
                <img src="https://dummyimage.com/150x150" data-demo-src="img/photo/content/thumbs/square/17.jpg" alt="">
                <div class="meta">
                    <span>Trekking</span>
                    <span>9 saved items</span>
                </div>
            </a>
            <a class="modal-wishlist-item">
                <img src="https://dummyimage.com/150x150" data-demo-src="img/photo/content/thumbs/square/7.jpg" alt="">
                <div class="meta">
                    <span>Meetups</span>
                    <span>4 saved items</span>
                </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  