<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page container-->
  <div class="container mt-5 pt-5 p-0" style="padding-top: 31px !important;">
      <div class="row g-0 mt-n3 map-listing">
          <div class="col-lg-12 mt-5 p-5 text-center">
              <h6 style="color: rgb(103, 28, 201); text-transform: uppercase;"> <strong> Top Cities</strong></h6>
              <p class="fs-sm">
                  Spaces.One is an online marketplace for Space hire, with more than +8,000 event spaces in the United Kingdom, Ireland, Australia, Canada and Singapore. Our marketplace offers listings for restaurants, banquet halls, conference centres and even less conventional
                  places such as churches, warehouses, gardens, and more. Our goal is for our Users to be able to browse and book their favourites in a matter of clicks.
              </p>
          </div>
      </div>
  </div>
</main>
<!-- Footer-->
<app-footer></app-footer>

