<main class="page-wrapper">
    <app-header id="top"></app-header>

    <div class="container static-page" style="margin-top: 200px; text-align: justify;">
        <div class="row justify-content-center">
            <div class="col-12">
                <h5 class="fs-md" style="text-align: center; text-transform: uppercase; ">Hi, how can we help?</h5>
                <div class="mt-4">
                    <div class="pb-md-2">
                        <h3 class="h6">Are the rental listings on Finder filtered for scams?</h3>
                        <p>Blandit adipiscing duis sit tellus rhoncus, amet, sit vitae gravida. Tincidunt placerat ultrices eu, senectus vitae accumsan massa in. Ultricies imperdiet duis feugiat lorem. Pretium turpis faucibus sit urna nisi lorem interdum.
                            Diam semper et ac neque ac.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">How do rental listings get on Finder?</h3>
                        <p>Amet posuere imperdiet placerat volutpat elit tellus lectus. Et sit massa volutpat id condimentum velit risus quam ut. Fames ut pulvinar ut ac sed elementum sed. Bibendum interdum ut sit ullamcorper arcu. Proin pharetra proin mi
                            ultricies diam sit. Arcu faucibus ut adipiscing odio habitasse at ut amet maecenas. Suscipit eget mi felis eu mi scelerisque. Mattis condimentum ut eget eu, aliquam id blandit urna, mattis. Amet pharetra nibh tincidunt eu.
                            Gravida pellentesque nisl mi in lectus. Sed sed diam facilisis et. Bibendum leo sit sagittis nunc, suspendisse venenatis. Aliquam eget morbi nibh nascetur diam urna, convallis.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">How can I find out more about my rights as a tenant?</h3>
                        <p>Morbi egestas quam ultrices fames dapibus proin amet, placerat cum. Feugiat nibh nulla pellentesque viverra elementum nibh tortor orci. A vitae hac id accumsan. At lacus velit donec vivamus. Auctor pharetra, ipsum aliquam lacus
                            morbi at feugiat nullam. In eu tellus elementum varius tristique. Varius pretium vestibulum feugiat dapibus tempor amet, ultricies. At urna diam viverra sed suspendisse. In at adipiscing nisl at ultrices curabitur tempor.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">How do I report a suspicious rental listing?</h3>
                        <p>Mus sed odio eu maecenas augue ut sodales. Purus, massa consequat sagittis at id ornare ullamcorper. Risus nibh vivamus semper mattis. Purus et ultrices nec tellus enim arcu diam. Sit ut lorem leo posuere enim rutrum parturient.
                            Eget ligula massa pulvinar quisque fusce maecenas et vulputate venenatis.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">Why can't I verify my identity?</h3>
                        <p>Pulvinar ante sed neque, morbi in at. Justo, a etiam nulla non nunc, integer platea massa. Vestibulum integer ac nisi dignissim nec. Ut tellus erat orci habitant. Non, nunc egestas purus nisi, enim mi sit a imperdiet. Eget viverra
                            elementum volutpat vulputate nunc metus est sed. Quis enim, eget malesuada habitasse et et tristique lectus id. Odio eget iaculis sollicitudin fames cursus sed massa. Non faucibus vitae donec vestibulum, morbi egestas a rutrum.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">Can I use your service to pay my landlord for utilities?</h3>
                        <p>Eu amet nec in ut faucibus sed fringilla. In nibh cras imperdiet at. In quam pulvinar vel tempus ultricies diam turpis. Eu, integer ac morbi a, aenean et quis amet, pellentesque. Sem volutpat dui amet metus. Laoreet pulvinar vitae
                            convallis a augue laoreet.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">Can I pay a few months’ rent in advance?</h3>
                        <p>Pellentesque massa mauris elit morbi. Id aliquam in lacus convallis eget cras mauris felis lobortis. Tempus at at venenatis pulvinar lobortis. Semper et nisl, tincidunt enim, etiam pretium lacinia. Diam tellus arcu, sagittis lorem
                            viverra eros tristique. Tellus sem et tellus nunc dictum. Pellentesque suspendisse pellentesque augue egestas mi nunc facilisis sapien aliquam. Ac semper facilisi posuere justo, te</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">How do you protect my personal information?</h3>
                        <p>Donec ipsum, diam, imperdiet id sociis cursus cras donec eget. Nunc, vitae lobortis ullamcorper diam consequat risus viverra odio a. Nibh scelerisque sed in at velit sit.</p>
                    </div>
                    <div class="pb-md-2">
                        <h3 class="h6">What happens to my information after my application is accepted or declined?</h3>
                        <p>Pretium vitae facilisis in faucibus gravida pulvinar ridiculus cum. Enim, a vitae tortor feugiat urna, iaculis. Ullamcorper tortor sollicitudin odio tempus elementum ut blandit commodo. Condimentum arcu ac nec, dolor ante sagittis
                            nibh in tempus. Posuere ullamcorper cursus adipiscing etiam ullamcorper orci tristique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container mb-4 pb-lg-5">
        <h1 class="mx-auto mb-4 pb-2 text-center" style="max-width: 856px;"></h1>
    </section>

</main>

<!-- Footer-->
<app-footer></app-footer>
<!-- Filters sidebar toggle button (mobile)-->
<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#help-sidebar" (click)="FilterSidebar()"><i class="fi-sidebar-right me-2"></i>FAQ Links</button>
<div class="vertical-overlay" (click)="SidebarHide()"></div>