/*! _blog.scss | Venues.One | Wizgle 2021-2022 */


/*
    1. Single Blog post
    2. Related Posts
    3. Blog post comments
    4. Blog sidebar
    5. Blog Grid Item
*/


/* ==========================================================================
1. Single Blog post
========================================================================== */

.is-single-post {
    border-radius: 6px;
    background: $white;
    width: 100%;
    max-width: 720px;
    margin: 5rem auto;
    &:last-child {
        margin-bottom: 0;
    }
    .featured-post-image {
        position: relative;
        img {
            display: block;
            border-radius: 1.25rem;
        }
        .post-date {
            position: absolute;
            bottom: -18px;
            right: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            width: 56px;
            background: $white;
            border: 1px solid $border;
            border-radius: 10px;
            box-shadow: $light-box-shadow;
            text-align: center;
            .post-date-inner {
                line-height: 1;
                text-align: center;
                span {
                    font-family: $font;
                    display: block;
                    &:first-child {
                        font-size: 0.7rem;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: $dark-text;
                    }
                    &:nth-child(2) {
                        font-weight: 700;
                        font-size: 1.6rem;
                        color: $primary;
                    }
                }
            }
        }
    }
    .featured-post-body {
        padding: 30px 0;
        .featured-post-title {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            .title-meta {
                .post-title {
                    font-family: $font-main;
                    color: $dark-text;
                    font-size: 1.6rem;
                    line-height: 1;
                    margin-bottom: 8px;
                }
                .post-subtitle {
                    font-family: $font;
                    font-size: 1rem;
                    color: $medium-text;
                    margin-bottom: 1rem;
                    a {
                        color: $primary;
                    }
                    i {
                        position: relative;
                        top: -4px;
                        font-size: 4px;
                        margin: 0 5px;
                    }
                }
            }
        }
        p {
            font-size: 1.1rem;
            color: $medium-text;
            margin-bottom: 1.5rem;
        }
        blockquote {
            font-family: $font;
            font-size: 1.1rem;
            background: $widget-grey;
            border-color: $primary;
            color: darken($medium-text, 3%);
        }
    }
    .sharing-links,
    .post-tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $font;
        letter-spacing: 1px;
        font-size: 1.1rem;
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $border;
        >span {
            position: relative;
            top: 2px;
            color: $dark-text;
            font-size: 1.3rem;
            margin-left: 4px;
        }
        .social-links {
            display: flex;
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                width: 38px;
                min-width: 38px;
                border-radius: 50%;
                border: 1px solid transparent;
                transition: all 0.3s;
                &:hover {
                    background: $white;
                    border-color: darken($widget-grey, 4%);
                    box-shadow: $light-box-shadow;
                    svg {
                        color: $primary;
                    }
                }
                svg {
                    height: 22px;
                    width: 22px;
                    color: darken($widget-grey, 14%);
                    transition: all 0.3s;
                }
            }
        }
    }
    .sharing-links {
        margin-bottom: 1.5rem;
    }
    .post-tags {
        border-bottom: none;
        .tags {
            .tag {
                height: 3em;
                padding-left: 1em;
                padding-right: 1em;
                font-size: 0.8rem;
                background: $white;
                color: $medium-text;
                border: 1px solid lighten($border, 3%);
                border-radius: 0.65rem;
                text-decoration: none !important;
                transition: all 0.3s;
                &:hover {
                    color: $primary;
                    box-shadow: $light-box-shadow;
                }
            }
        }
    }
    .post-author {
        display: flex;
        margin-bottom: 1rem;
        margin: 40px 0;
        padding: 30px;
        border: 1px solid lighten($border, 2%);
        border-radius: 12px;
        background: $white;
        transition: all 0.3s;
        &:hover {
            box-shadow: $light-box-shadow;
        }
        .post-author-avatar {
            width: 80px;
            min-width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid $white;
            z-index: 1;
            display: block;
            img {
                border-radius: 50%;
            }
        }
        .post-author-meta {
            margin-left: 12px;
            .post-author-title {
                a {
                    font-family: $font-main;
                    color: $dark-text;
                    font-size: 1.2rem;
                    line-height: 1.2;
                    transition: all 0.3s;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            h4 {
                font-family: $font;
                color: $light-text;
                font-size: 0.9rem;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1rem;
                color: $medium-text;
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .is-single-post {
        .post-author {
            flex-direction: column;
            text-align: center;
            .post-author-avatar {
                margin: 0 auto 16px auto;
            }
        }
    }
}


/* ==========================================================================
2. Related Posts
========================================================================== */

.related-posts {
    margin-bottom: 3.5rem;
    .related-posts-head {
        font-family: $font-main;
        color: $dark-text;
        font-size: 1.4rem;
        margin: 20px 0;
    }
}


/* ==========================================================================
3. Blog post comments
========================================================================== */

.single-comments {
    .single-comments-head {
        font-family: $font-main;
        color: $dark-text;
        font-size: 1.6rem;
        margin: 20px 0;
    }
    .comments-list {
        .media {
            font-family: $font;
            margin: 0 !important;
            padding: 1.5rem 0 !important;
            border-color: lighten($border, 2%);
            max-width: 640px;
            .media-left {
                img {
                    border-radius: 50%;
                }
            }
            .media-content {
                .content {
                    .title {
                        color: $dark-text;
                        font-size: 1rem;
                    }
                    .timestamp {
                        display: block;
                        font-size: 0.9rem;
                        color: $light-text;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                    .controls {
                        i {
                            color: $danger;
                            font-size: 12px;
                        }
                        .count {
                            color: $dark-text;
                            font-weight: 500;
                        }
                        .reply {
                            font-family: $font;
                            margin-left: 20px;
                            a {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .publish-comment {
        margin-bottom: 3.5rem;
        .publish-comment-head {
            font-family: $font-main;
            color: $dark-text;
            font-size: 1.5rem;
            margin: 20px 0;
        }
        form {
            .field {
                .textarea {
                    box-shadow: $light-box-shadow !important;
                    border-color: $border;
                    font-size: 1rem;
                    font-family: $font;
                }
                .input {
                    box-shadow: $light-box-shadow !important;
                    height: 50px;
                    font-size: 1rem;
                }
                .submit-wrap {
                    .button {
                        height: 55px;
                        min-width: 240px;
                    }
                }
            }
        }
    }
}


/* ==========================================================================
4. Blog sidebar
========================================================================== */

.blog-sidebar {
    padding: 5rem 30px;
    .blog-sidebar-search {
        box-shadow: $light-box-shadow;
        margin-bottom: 2.5rem;
        .input {
            border-color: $border;
            font-size: 1.1rem;
            padding-left: 44px;
        }
        .form-icon {
            height: 44px;
            width: 44px;
        }
    }
    .blog-sidebar-posts {
        margin-bottom: 3.5rem;
        h4 {
            font-family: $font-main;
            color: $dark-text;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        .blog-sidebar-post {
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            .post-image {
                position: relative;
                img {
                    display: block;
                    width: 70px;
                    min-width: 70px;
                    height: 70px;
                    min-height: 70px;
                    object-fit: cover;
                    border-radius: 6px;
                    object-fit: cover;
                    box-shadow: $light-box-shadow;
                }
            }
            .post-content {
                flex-grow: 2;
                padding: 0 20px;
                h3 {
                    font-family: $font;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $dark-text;
                    margin-bottom: 6px;
                    line-height: 1.2;
                }
                .meta {
                    display: flex;
                    align-items: center;
                    img {
                        display: block;
                        height: 24px;
                        width: 24px;
                        min-width: 24px;
                        border-radius: 50%;
                    }
                    span {
                        color: $medium-text;
                        font-family: $font;
                        font-size: 0.9rem;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .blog-sidebar-categories {
        margin-bottom: 3.5rem;
        h4 {
            font-family: $font-main;
            color: $dark-text;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        .blog-sidebar-category {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                >span {
                    color: $primary;
                }
                .post-count {
                    border-color: lighten($border, 3%);
                    box-shadow: $light-box-shadow;
                    span {
                        color: $primary;
                    }
                }
            }
            >span {
                font-family: $font;
                font-size: 1rem;
                font-weight: 300;
                color: $medium-text;
                line-height: 1.2;
                transition: color 0.3s;
            }
            .post-count {
                height: 35px;
                width: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1px solid transparent;
                transition: all 0.3s;
                span {
                    font-weight: 600;
                    font-size: 0.9rem;
                    color: $dark-text;
                    transition: color 0.3s;
                }
            }
        }
    }
    .blog-sidebar-tags {
        margin-bottom: 3.5rem;
        h4 {
            font-family: $font-main;
            color: $dark-text;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        .tags {
            .tag {
                height: 3em;
                padding-left: 1em;
                padding-right: 1em;
                font-size: 0.8rem;
                background: $white;
                color: $medium-text;
                border: 1px solid lighten($border, 3%);
                border-radius: 0.65rem;
                text-decoration: none !important;
                transition: all 0.3s;
                &:hover {
                    color: $primary;
                    box-shadow: $light-box-shadow;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .blog-sidebar {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .blog-sidebar {
        padding: 0;
    }
}


/* ==========================================================================
5. Blog Grid Item
========================================================================== */

.blog-grid-item {
    border-radius: 0.85rem;
    overflow: hidden;
    &.is-related {
        .card-content {
            padding: 1rem;
            .featured-post-title {
                .title-meta {
                    margin-left: 0;
                    .post-title {
                        font-size: 1.1rem;
                    }
                    .post-subtitle {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    .card-image {
        .item-featured-image {
            height: 180px;
            width: 100%;
            object-fit: cover;
        }
        .post-date {
            position: absolute;
            bottom: 12px;
            right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            background: $white;
            border: 1px solid $border;
            border-radius: 10px;
            box-shadow: $light-box-shadow;
            text-align: center;
            .post-date-inner {
                line-height: 1;
                text-align: center;
                span {
                    font-family: $font;
                    display: block;
                    &:first-child {
                        font-size: 0.75rem;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: $dark-text;
                    }
                    &:nth-child(2) {
                        font-weight: 700;
                        font-size: 1.5rem;
                        color: $primary;
                    }
                }
            }
        }
    }
    .card-content {
        padding: 26px;
        .featured-post-title {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            .title-avatar {
                width: 50px;
                min-width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid $white;
                z-index: 1;
                display: block;
                img {
                    border-radius: 50%;
                }
            }
            .title-meta {
                margin-left: 12px;
                .post-title {
                    font-family: $font-main;
                    color: $dark-text;
                    font-size: 1.1rem;
                    line-height: 1.2;
                }
                .post-subtitle {
                    font-family: $font;
                    font-size: 0.9rem;
                    color: $light-text;
                    a {
                        color: $primary;
                    }
                    i {
                        position: relative;
                        top: -4px;
                        font-size: 4px;
                        margin: 0 5px;
                    }
                }
            }
        }
        p {
            color: $light-text;
            margin-bottom: 1rem;
        }
        .read-more-link {
            font-family: $font;
            letter-spacing: 1px;
            color: $primary;
            font-size: 0.9rem;
            span {
                position: relative;
                top: 2px;
                font-size: 1.6rem;
                margin-left: 4px;
            }
        }
    }
}