/*! _cta.scss | Venues.One | Wizgle 2021-2022 */


/*
    1. Boxed CTA
    2. Background CTA
    3. CTA block
    4. Media Queries
*/


/* ==========================================================================
1. Boxed CTA
========================================================================== */

.boxed-cta {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 1.5rem;
    background: darken($widget-grey, 2%);
    overflow: hidden;
    .left {
        width: 50%;
        padding: 50px;
        h3 {
            font-family: $font-main;
            font-weight: 700;
            font-size: 2rem;
            color: $dark-text;
            line-height: 1.2;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
    }
    .right {
        width: 50%;
        padding-right: 40px;
        img {
            display: block;
            width: 100%;
            max-width: 400px;
            margin-left: auto;
        }
    }
}


/* ==========================================================================
2. Background CTA
========================================================================== */

.background-cta {
    padding: 4rem;
    border-radius: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .background-cta {
        padding: 3rem;
        .button {
            width: 100%;
        }
    }
}


/* ==========================================================================
2. Overlay CTA
========================================================================== */

.overlay-cta {
    position: relative;
    padding: 4rem;
    min-height: 440px;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .overlay-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($dark-text, 0.6);
        z-index: 0;
    }
    .cta-inner {
        position: relative;
        text-align: center;
        z-index: 1;
        >p {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width: 767px) {
    .overlay-cta {
        padding: 2rem;
    }
}

.text-cta {
    text-align: center;
    .subtitle {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        color: $light-text;
    }
    .button {
        min-width: 165px;
    }
}


/* ==========================================================================
3. CTA block
========================================================================== */

.cta-block {
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid $border;
    &.no-border {
        padding-bottom: 2rem;
        border-bottom: none;
    }
    &.is-box {
        padding: 3rem 2rem;
        background: $white;
        border-radius: 8px;
        box-shadow: $light-box-shadow;
        border: 1px solid $border;
        justify-content: space-between;
    }
    .head-text {
        h3 {
            font-family: $font;
            font-size: 1.8rem;
            color: $dark-text;
        }
        p {
            font-size: 1.1rem;
            color: $light-text;
        }
    }
    .head-action {
        .buttons {
            .button {
                &.action-button {
                    height: 36px;
                    min-width: 140px;
                }
                &.chat-button {
                    background: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .cta-block {
        flex-direction: column;
        text-align: center;
        .head-text {
            padding-bottom: 20px;
        }
    }
}


/* ==========================================================================
4. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    .boxed-cta {
        flex-direction: column;
        .left,
        .right {
            width: 100%;
        }
        .left {
            padding: 2rem;
            h3 {
                font-size: 1.6rem;
            }
        }
    }
}