/*! _error.scss | Venues.One | Wizgle 2021-2022 */


/*
    1. Error wrapper
*/


/* ==========================================================================
1. Featured events
========================================================================== */

.error-wrapper {
    min-height: 100vh;
    background: $widget-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    .error-content {
        text-align: center;
        width: 100%;
        max-width: 600px;
        img {
            display: block;
            max-width: 100%;
        }
        .text-content {
            max-width: 540px;
            margin: 0 auto;
            .buttons {
                .button {
                    min-width: 130px;
                }
            }
        }
    }
}