<div
  class="main-navigation is-docked is-scrolled"
  x-data="initNavbar()"
  x-on:click.away="foldSearch()"
  x-bind:class="{
        'is-expanded': searchExpanded,
        '': !searchExpanded
    }"
>
  <div class="main-navigation--menu">
    <div class="container">
      <div class="main-navigation--menu-inner">
        <div class="left">
          <a href="/" class="brand">
            <img class="light-logo" style="width: 110px;" src="../../img/logo-white.png" alt="" />
            <img class="dark-logo" style="width: 110px;" src="../../img/logo-dark.png" alt="" />
          </a>
        </div>

        <div class="center">
          <div class="navigation-link">
            <a>Events</a>
          </div>
          <div class="navigation-link">
            <a>Trips</a>
          </div>
          <div class="navigation-link">
            <a>Flats</a>
          </div>
          <div class="search-fold" x-on:click="expandSearch()">
            <span>Search events near you</span>
            <button class="mini-search-button">
              <i data-feather="search"></i>
            </button>
          </div>
        </div>

        <div class="right">
          <div class="navigation-link is-host">
            <a href="host.html">Host Event</a>
          </div>
          <button
            class="navigation-link is-icon mx-4 modal-trigger"
            data-modal="languages-modal"
          >
            <i data-feather="globe"></i>
          </button>
          <div class="account-drop">
            <button
              x-on:click="openDrop('account-drop')"
              x-on:click.away="closeDrop('account-drop')"
            >
              <span class="image is-32x32">
                <img
                  x-show="$store.app.isLoggedIn === false"
                  class="is-rounded"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/avatar/placeholder.png"
                  alt=""
                />
                <img
                  x-show="$store.app.isLoggedIn === true"
                  class="is-rounded"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/avatar/19.jpg"
                  alt=""
                />
              </span>
            </button>
            <div x-show.transition="accountDropOpened" class="drop-menu">
              <div class="drop-menu-inner">
                <a
                  href="login.html"
                  x-show="$store.app.isLoggedIn === false"
                  class="drop-menu-item is-heavy"
                  >Sign In</a
                >
                <a
                  href="signup.html"
                  x-show="$store.app.isLoggedIn === false"
                  class="drop-menu-item"
                  >Register</a
                >
                <a
                  href="account-main.html"
                  x-show="$store.app.isLoggedIn === true"
                  class="drop-menu-item"
                  >Account</a
                >
                <a
                  href="account-main.html"
                  x-show="$store.app.isLoggedIn === true"
                  class="drop-menu-item"
                  >Settings</a
                >
                <a
                  href="account-schedule.html"
                  x-show="$store.app.isLoggedIn === true"
                  class="drop-menu-item"
                  >Schedule</a
                >
                <hr />
                <a href="host.html" class="drop-menu-item">Host Event</a>
                <a href="events.html" class="drop-menu-item">Explore Events</a>
                <a href="how.html" class="drop-menu-item">Help</a>
                <a
                  x-show="$store.app.isLoggedIn === true"
                  class="drop-menu-item"
                  x-on:click="logout()"
                  >Logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-navigation--search">
    <form id="search-form">
      <div class="search-bar" x-on:click.away="disableSearch()">
        <div
          class="block-30"
          x-on:click.stop="openDrop('location-drop'), $refs.locationInput.focus()"
          x-on:click.away="closeDrop('location-drop')"
          x-bind:class="{
                        'is-active': locationDropOpened,
                        '': !locationDropOpened
                    }"
        >
          <div class="field">
            <label>Location</label>
            <div class="control">
              <input
                x-ref="locationInput"
                required="required"
                placeholder="Where are you?"
              />
              <button type="reset" class="clear-value">
                <i data-feather="x"></i>
              </button>
            </div>
          </div>

          <div x-show.transition="locationDropOpened" class="location-dropdown">
            <div class="location-dropdown-inner">
              <a class="near-link">
                <div class="near-icon">
                  <i data-feather="map-pin"></i>
                </div>
                <span>Explore events near you</span>
              </a>
              <div class="near-tags">
                <h4>Places near you</h4>
                <div class="tags">
                  <span class="tag">Los Angeles</span>
                  <span class="tag">San Francisco</span>
                  <span class="tag">San Diego</span>
                  <span class="tag">Orange County</span>
                  <span class="tag">San Juan</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="block-20"
          x-on:click="openDrop('start-date-drop'), $refs.startDateInput.focus()"
          x-on:click.away="closeDrop('start-date-drop')"
          x-bind:class="{
                        'is-active': startDateDropOpened,
                        '': !startDateDropOpened
                    }"
        >
          <div class="field">
            <label>Starting</label>
            <div class="control">
              <input
                x-ref="startDateInput"
                required="required"
                class="search-datepicker-start"
                placeholder="Select a date"
              />
              <button type="reset" class="clear-value">
                <i data-feather="x"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="block-20"
          x-on:click="openDrop('end-date-drop'), $refs.endDateInput.focus()"
          x-on:click.away="closeDrop('end-date-drop')"
          x-bind:class="{
                        'is-active': endDateDropOpened,
                        '': !endDateDropOpened
                    }"
        >
          <div class="field">
            <label>Ending</label>
            <div class="control">
              <input
                x-ref="endDateInput"
                required="required"
                class="search-datepicker-end"
                placeholder="Select a date"
              />
              <button
                x-on:click="$refs.endDateInput.value = ''"
                type="reset"
                class="clear-value"
              >
                <i data-feather="x"></i>
              </button>
            </div>
          </div>
        </div>
        <div
          class="block-30"
          x-on:click="openDrop('type-drop'), $refs.typeInput.focus()"
          x-on:click.away="closeDrop('type-drop')"
          x-bind:class="{
                        'is-active': typeDropOpened,
                        '': !typeDropOpened
                    }"
        >
          <div class="field has-search-button">
            <label>Audience</label>
            <div class="control">
              <input
                x-ref="typeInput"
                required="required"
                placeholder="Pick a type"
              />
              <button type="reset" class="clear-value">
                <i data-feather="x"></i>
              </button>
            </div>
          </div>

          <div x-show.transition="typeDropOpened" class="type-dropdown">
            <div class="type-dropdown-inner">
              <div class="type-block">
                <div class="meta">
                  <span>General audience</span>
                  <span>Suitable for everyone</span>
                </div>
                <div class="action">
                  <label class="form-switch is-primary">
                    <input
                      type="radio"
                      name="search_type_radio"
                      class="is-switch"
                      checked
                    />
                    <i></i>
                  </label>
                </div>
              </div>
              <div class="type-block">
                <div class="meta">
                  <span>Family</span>
                  <span>Suitable for kids and families</span>
                </div>
                <div class="action">
                  <label class="form-switch is-primary">
                    <input
                      type="radio"
                      name="search_type_radio"
                      class="is-switch"
                    />
                    <i></i>
                  </label>
                </div>
              </div>
              <div class="type-block">
                <div class="meta">
                  <span>Adults only</span>
                  <span>Only for adults and grown ups</span>
                </div>
                <div class="action">
                  <label class="form-switch is-primary">
                    <input
                      type="radio"
                      name="search_type_radio"
                      class="is-switch"
                    />
                    <i></i>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <button
            type="button"
            class="search-button"
            x-bind:class="{
                            'is-expanded': searchActive,
                            '': !searchActive
                        }"
          >
            <i data-feather="search"></i>
            <span> Search</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
