<div
  class="megamenu"
  x-bind:class="{
    'is-active': megamenuOpened,
    '': !megamenuOpened,
  }"
>
  <!--Megamenu 1-->
  <div x-show="openedMegamenu === 'megamenu-1'" class="megamenu-inner">
    <button class="close-button" x-on:click="megamenuOpened = !megamenuOpened">
      <i data-feather="arrow-left"></i>
    </button>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="megamenu-block">
            <div class="media">
              <div class="media-left text-primary">
                <span class="fas fa-2x fa-cocktail"></span>
              </div>
              <div class="media-content">
                <h3 class="text-rainbow">Social Events</h3>
                <p>
                  Explore a wide variety of events and services provided by
                  members of our huge community.
                </p>
                <a href="events.html" class="arrow-link">
                  <span>Explore scheduled events</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="megamenu-block has-margin">
            <h4 class="text-rainbow">Trending now</h4>
            <ul>
              <li>
                <a href="events.html" class="arrow-link">
                  <span>Reading groups</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="events.html" class="arrow-link">
                  <span>Shopping meetups</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="events.html" class="arrow-link">
                  <span>Gaming parties</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-4">
          <div class="megamenu-block is-left-bordered">
            <div class="media">
              <div class="media-content">
                <h3 class="text-rainbow">Schedule an event</h3>
                <p>
                  Learn how you can start hosting events and offering services
                  on our platform.
                </p>
                <a href="host.html" class="arrow-link">
                  <span>Become a Host</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Megamenu 2-->
  <div x-show="openedMegamenu === 'megamenu-2'" class="megamenu-inner">
    <button class="close-button" x-on:click="megamenuOpened = !megamenuOpened">
      <i data-feather="arrow-left"></i>
    </button>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="megamenu-block">
            <div class="media">
              <div class="media-left text-primary">
                <span class="fas fa-2x fa-suitcase-rolling"></span>
              </div>
              <div class="media-content">
                <h3 class="text-rainbow">Planned Trips</h3>
                <p>
                  Explore a wide variety of road and luxury trips hosted by
                  members of our community.
                </p>
                <a href="trips.html" class="arrow-link">
                  <span>Explore scheduled trips</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="megamenu-block has-margin">
            <h4 class="text-rainbow">Categories</h4>
            <div class="tags">
              <a href="home-2.html" class="tag is-rounded">Trekking</a>
              <a href="home-2.html" class="tag is-rounded">Adventure</a>
              <a href="home-2.html" class="tag is-rounded">Discovery</a>
              <a href="home-2.html" class="tag is-rounded">Climbing</a>
              <a href="home-2.html" class="tag is-rounded">Bicycle</a>
              <a href="home-2.html" class="tag is-rounded">Scuba diving</a>
              <a href="home-2.html" class="tag is-rounded">Safari</a>
              <a href="home-2.html" class="tag is-rounded">Rafting</a>
              <a href="home-2.html" class="tag is-rounded">Survival</a>
              <a href="home-2.html" class="tag is-rounded">Speleology</a>
              <a href="home-2.html" class="tag is-rounded">Hunting</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="megamenu-block is-left-bordered">
            <div class="media">
              <div class="media-content">
                <h3 class="text-rainbow">Try our luxury trips</h3>
                <p>
                  Not the adventurer type? Discover dozens of luxury trips in a
                  wide selection of locations.
                </p>
                <a href="trips.html" class="arrow-link">
                  <span>Explore luxury trips</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Megamenu 3-->
  <div x-show="openedMegamenu === 'megamenu-3'" class="megamenu-inner">
    <button class="close-button" x-on:click="megamenuOpened = !megamenuOpened">
      <i data-feather="arrow-left"></i>
    </button>
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="megamenu-block">
            <div class="media">
              <div class="media-left text-primary">
                <span class="fas fa-2x fa-igloo"></span>
              </div>
              <div class="media-content">
                <h3 class="text-rainbow">Flats & Homes</h3>
                <p>
                  Explore a wide variety of events and services provided by
                  members of our huge community.
                </p>
                <a href="flats.html" class="arrow-link">
                  <span>Find a flat nearby</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="megamenu-block has-margin">
            <h4 class="text-rainbow">Recently Added</h4>
            <div class="block-list">
              <div class="block-list-item">
                <img
                  class="is-rounded-md"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/content/thumbs/square/9.jpg" alt=""
                />
              </div>
              <div class="block-list-item">
                <img
                  class="is-rounded-md"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/content/thumbs/square/10.jpg" alt=""
                />
              </div>
              <div class="block-list-item">
                <img
                  class="is-rounded-md"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/content/thumbs/square/11.jpg" alt=""
                />
              </div>
              <div class="block-list-item">
                <img
                  class="is-rounded-md"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/content/thumbs/square/12.jpg" alt=""
                />
              </div>
              <div class="block-list-item">
                <img
                  class="is-rounded-md"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/content/thumbs/square/13.jpg" alt=""
                />
              </div>
              <div class="block-list-item">
                <img
                  class="is-rounded-md"
                  src="https://dummyimage.com/150x150"
                  data-demo-src="img/photo/content/thumbs/square/14.jpg" alt=""
                />
              </div>
            </div>
            <a href="#" class="arrow-link mt-4">
              <span>View all</span>
              <i data-feather="arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="column is-4">
          <div class="megamenu-block is-left-bordered">
            <div class="media">
              <div class="media-content">
                <h3 class="text-rainbow">Submit your flat</h3>
                <p>
                  Looking to generate revenue with your unused flat? Learn more
                  about our terms.
                </p>
                <a href="#" class="arrow-link">
                  <span>Learn more</span>
                  <i data-feather="arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
